body{
    margin: 0;
    background-color: aliceblue;
    font-family: Arial;
}
.card{
    padding: 20px;
    width: 400px;
    margin: 50px auto;
    background-color: aliceblue;
    box-shadow: 0 5px 10px #ccc;
    border-radius: 10px;
}
.card_photo{
    display: block;
    width: 200px;
    height: 200px;
    margin: 0 auto;
    border-radius: 50%;
}
.card_name{
    font-size: 30px;
    text-align: center;
}
.card_text{
    text-align: center;
    font-size: 20px;
}
.card_subtitle{
    font-size: 30px;
    text-align: center;
}
.card_list{
    padding-left: 0;
    list-style-position: inside;
    font-size: 20px;
}